## Last Time: Functions and Loops
### Review:
- **break**: Exits the loop immediately, regardless of the loop's condition.
- **continue**: Skips the current iteration and moves to the next one.

In [ ]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 23:
        print('Magic number 23 reached! Stopping execution...')
        break
    i += 1

print("i:", i, "result:", result)

In [ ]:
i = 1
result = 1

while i < 8:
    i += 1
    if i % 2 == 0:
        print("Skipping:", i)
        continue     #notice how continue works...this is very important!!
    print('Multiplying with i', i)
    result *= i

print("result: ", result)

**Enumerate**

The enumerate function adds a counter to an iterable and returns it as an enumerate object (iterator with index and the value). It's often used in looping.

In [ ]:
languages = ['Python', 'Java', 'JavaScript']

# enumerate the list
enumerated_languages = enumerate(languages)

# convert enumerate object to list
print(list(enumerated_languages))

# Output: [(0, 'Python'), (1, 'Java'), (2, 'JavaScript')]

##  Extra Practice 
Write a function that prints prime numbers between two real numbers (a and b) where a and b are the parameters of the function. Call the function and check the output with a = 60, b = 80.

In [ ]:
#code with me in class

# Data Structures 

A data structure in Python is a way of organizing, managing, and storing data to enable efficient access and modification. Python provides a variety of built-in data structures to handle different types of data and solve various computational problems.  This is a preview of what's ahead but here are some common data structures to get you thinking:

**List**
* An ordered collection that is mutable (can be modified).
Supports indexing, slicing, and a variety of operations.
Example: my_list = [1, 2, 3, 4]

**Tuple**
* An ordered and immutable collection.
Useful for representing fixed sets of data.
Example: my_tuple = (1, 2, 3)

**Dictionary**
* A collection of key-value pairs, where keys are unique and values can be of any data type.
Example: my_dict = {'key1': 'value1', 'key2': 'value2'}

**Set**
* An unordered collection of unique elements.
Used for membership testing and eliminating duplicates.
Example: my_set = {1, 2, 3}

**String**
* A sequence of characters, treated as immutable.
Strings can be indexed and sliced like lists.
Example: my_string = "hello"


**Heap (Priority Queue)**
* A binary heap data structure provided by the heapq module.
Useful for efficient priority-based operations.
Example:
import heapq
heap = [3, 1, 2]
heapq.heapify(heap)

**Queue**
* Used for managing data in a FIFO (First-In-First-Out) manner.
Example:
from queue import Queue
q = Queue()
q.put(1)
q.get()

**Advanced Data Structures:**
* Python also provides libraries like numpy and pandas for handling more complex data structures: Arrays (via numpy)
DataFrames (via pandas for tabular data)
* These structures help organize data efficiently based on the specific requirements of a problem.

### Summing it up
Data structures and object-oriented programming (OOP) are closely related, as both are essential in designing and organizing code. 
In object-oriented programming, data structures are often implemented as classes, and the elements of the structure are objects. For example, A list can be implemented as a class, with methods to add, remove, or manipulate elements.


Each instance of the data structure class **encapsulates** (or hides/protects) the data (attributes) and the operations (methods) that can be performed on it.  

**Encapsulation** is a major advantage of OOP and is often a topic brought up in job interview (along with the other major advantages of OOP: abstraction, inheritance, polymophism..which we will talk about later).



# Tuple Data Structure

A **tuple** in Python is a sequence of objects with two key characteristics:

- The number of objects in the tuple is fixed.
- The objects are immutable, meaning their values cannot be changed.

Tuples are defined as sequences of objects separated by commas and enclosed in parentheses (). For example, here’s a tuple containing three integers:

In [1]:
tuple_ex = (2, 4, 2)

Tuples can also be created without using parentheses, simply by separating the elements with commas:

In [3]:
tuple_ex = 2, 4, 2
type(tuple_ex)   # you can check out the type

tuple

You can access elements of a tuple using their index enclosed in square brackets []. For example, to retrieve the second element of tuple_ex, use:

In [21]:
print(tuple_ex[0])

2

However, you cannot modify the elements of a tuple. For instance, attempting to change the second element of tuple_ex like this:

In [5]:
tuple_ex[0]=5

TypeError: 'tuple' object does not support item assignment

This error occurs because tuples are immutable, and their elements cannot be altered after creation.

## Practice
Gross Domestic Product (GDP) per capita shows a country's GDP divided by its total population. The tuple GDP in the code cell below contains the USA's GDP per capita data from 1960 to 2021.  The values are arranged chronologically, with the first value corresponding to 1960, the second to 1961, and so forth. Write a program to identify and print the years when the GDP per capita in the US increased by more than 10% compared to the previous year.

In [11]:
GDP = (3007, 3067, 3244, 3375,3574, 3828, 4146, 4336, 4696, 5032,5234,5609,6094,6726,7226,7801,8592,9453,10565,11674,12575,13976,14434,15544,17121,18237,19071,20039,21417,22857,23889,24342,25419,26387,27695,28691,29968,31459,32854,34515,36330,37134,37998,39490,41725,44123,46302,48050,48570,47195,48651,50066,51784,53291,55124,56763,57867,59915,62805,65095,63028,69288)

In [22]:
#Write your solution here

## More on Tuples
Tuples can be concatenated using the + operator:

In [35]:
(2,4,2) + ("a", "tuple") + ("mixing","datatypes is crazy",8)

(2, 4, 2, 'a', 'tuple', 'mixing', 'datatypes is crazy', 8)

Multiplying a tuple by an integer results in repetition of the tuple:

In [39]:
(2,4,2)*3

(2, 4, 2, 2, 4, 2, 2, 4, 2)

When a tuple is assigned to an expression with multiple variables, it is unpacked, and each variable is assigned a value based on the order of the elements in the tuple.

In [46]:
a,b,c  = (2.5, "a string", (("Nested tuple",8)))
print(a)
print(b)
print(c)

2.5
a string
('Nested tuple', 8)


If we only want to retrieve specific values from a tuple while ignoring others, we can use the expression *_ to discard the unwanted values. For example, if we need to extract only the first and the last two values of a tuple:

In [52]:
a,*_,b,c  = (2.5, "a string", (("Nested tuple",8)),"98",99)
print(a)
print(b)
print(c)

#You try something

2.5
98
99

##  Practice 
Again, use the GDP tuple that contains the USA’s GDP per capita data from 1960 to 2021, with values arranged in ascending order (i.e., the first value corresponds to 1960, the second to 1961, and so on).

Write a function with two parameters:

* Year: Specifies the starting year for the GDP per capita data in the second parameter.
* Tuple of GDP per capita values: A tuple containing the GDP per capita for consecutive years starting from the year provided in the first parameter.

The function should return a tuple of two elements:
* The first element is the count of years where the GDP per capita increased by more than 5%.
* The second element is the most recent year when the GDP per capita increase was more than 5%.

Call the function to determine the number of years and the most recent year where the GDP per capita increased by more than 5% since the year 2000. Store the number of years in a variable called num_years, and the most recent year in a variable called recent_year. Finally, print the values of num_years and recent_year.

In [ ]:
#Write your solution here

## Tuple methods

Two useful tuple methods are count, which returns the number of times an element appears in the tuple, and index, which gives the position of the first occurrence of an element in the tuple.

In [56]:
tuple_ex = (2,4,2,7,87,4,2,2)
tuple_ex.count(2)  #don't forget tabbing

4

In [58]:
tuple_ex.index(2)

0

# List Data Structure

A **list** is a sequence of Python objects with two key characteristics that distinguish it from a tuple:
1. The number of objects is flexible, meaning items can be added or removed from a list.
2. The objects are mutable, meaning their values can be modified.

A list is defined as a sequence of Python objects separated by commas and enclosed in square brackets `[]`. For example, here’s a list containing three integers:

In [90]:
list_ex = [2,4,2]

### Adding and Removing Elements in a List

We can add elements to the end of a list using the `append` method. For example, we can append the string `'dog'` to the `list_ex` list as shown below:

In [92]:
list_ex.append('dog')
print(list_ex)

[2, 4, 2, 'dog']

Note that the elements of a list or a tuple can be of different data types.

To add an element at a specific position in a list, we can use the `insert` method. For example, to insert the number `2.42` as the second element in the `list_ex`, we can do the following:

In [94]:
list_ex.insert(1,2.42)
print(list_ex)

[2, 2.42, 4, 2, 'dog']

To remove an element from a list, you can use either the `pop` or `remove` method. The `pop` method removes an element at a specific index, while the `remove` method removes the first occurrence of an element by its value. See the examples below:

In [96]:
a=list_ex.pop()  #if no index is given it removes the end value
print(a)
b=list_ex.pop(2)
print(b)
print(list_ex)  #the end element and the item at index 2 is removed

dog
4
[2, 2.42, 2]

In [98]:
list_ex2 = [2,3,2,4,4]
list_ex2.remove(2)  #removes the first occurrence of the value 2
list_ex2

[3, 2, 4, 4]

**You try:**  filter out the values greater than 100 from the list below

In [24]:
#filter out the values greater than 100

list_ex3 = list(range(95,106))
print(list_ex3)

[95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105]